[package]
name = "vm-device"
version = "0.1.0"
edition = "2021"

[dependencies]
vm-core = { path = "../vm-core" }
vm-osal = { path = "../vm-osal" }
vm-passthrough = { path = "../vm-passthrough" }
wgpu = "0.20.0"
winit = "0.29"
pollster = "0.3"
log = "0.4"
vfio-ioctls = "0.5.2"
vfio-bindings = "0.6.1"
uuid = { version = "1.0", features = ["v4"] }






[dependencies.libc]
version = "0.2"
optional = true

[target.'cfg(unix)'.dependencies]
libc = "0.2"
