[package]
name = "vm-engine-jit-fuzz"
version = "0.1.0"
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4"
vm-engine-jit = { path = ".." }
vm-ir = { path = "../../vm-ir" }
vm-core = { path = "../../vm-core" }

[profile.dev]
opt-level = 3
debug = true

[profile.release]
opt-level = 3
debug = true
