[package]
name = "vm-service"
version = "0.1.0"
edition = "2024"

[dependencies]
vm-core = { path = "../vm-core" }
vm-ir = { path = "../vm-ir" }
vm-engine-interpreter = { path = "../vm-engine-interpreter" }
vm-mem = { path = "../vm-mem" }
vm-device = { path = "../vm-device", features = ["async-io"] }
vm-frontend-riscv64 = { path = "../vm-frontend-riscv64" }
vm-engine-jit = { path = "../vm-engine-jit" }
vm-accel = { path = "../vm-accel" }
vm-osal = { path = "../vm-osal" }
log = "0.4"
tokio = { version = "1", features = ["full"] }
anyhow = "1.0"
thiserror = "1"
uuid = { version = "1.10", features = ["v4"] }
tracing = "0.1"
