[package]
name = "vm-passthrough"
version = "0.1.0"
edition = "2024"

[dependencies]
vm-core = { path = "../vm-core" }
log = { workspace = true }
thiserror = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
libc = { workspace = true }

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.62", features = ["Win32_Devices_DeviceAndDriverInstallation"] }
