[package]
name = "vm-accel"
version = "0.1.0"
edition = "2021"

[dependencies]
raw-cpuid = { version = "11", optional = true }
log = "0.4"
thiserror = "1.0"

[target.'cfg(target_os = "linux")'.dependencies]
kvm-ioctls = { version = "0.18", optional = true }
kvm-bindings = { version = "0.9", optional = true }
libc = "0.2"

[target.'cfg(target_os = "macos")'.dependencies]
libc = "0.2"

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.58", features = ["Win32_System_Hypervisor"], optional = true }

[features]
default = []
cpuid = ["raw-cpuid"]
kvm = ["kvm-ioctls", "kvm-bindings"]
hvf = []
whpx = ["windows"]
