[package]
name = "vm-common"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4"

[dev-dependencies]
criterion = "0.8"

[[bench]]
name = "lockfree_hashmap"
harness = false

[[bench]]
name = "lockfree_queue"
harness = false

[features]
default = ["std"]
std = []
no_std = []
