[package]
name = "vm-core"
version = "0.1.0"
edition = "2024"



[dependencies]
log = "0.4"
parking_lot = "0.12"

serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.19.0", features = ["v4", "serde"] }

bincode = { version = "2.0.1", features = ["serde"] }

[features]
default = ["std"]
std = []
no_std = []
async = ["tokio", "futures"]

[dependencies.tokio]
version = "1.48"
features = ["rt-multi-thread", "sync", "time", "macros"]
optional = true

[dependencies.futures]
version = "0.3"
optional = true

[dependencies.async-trait]
version = "0.1"
optional = true

