[package]
name = "vm-core"
version = "0.1.0"
edition = "2021"

[features]
default = []
no_std = []

[dependencies]
log = "0.4"

serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.18.1", features = ["v4", "serde"] }

bincode = "1.3.3"
